In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Cleaned_Data_2012-2017.csv")

In [3]:
df["year"] = df["FL_DATE"].apply(lambda x: x[0:4])
df["mon"] = df["FL_DATE"].apply(lambda x: x[5:7])
df = df.drop(columns = ["Unnamed: 0", "Unnamed: 0.1"])
import datetime
#df['mon'] = df['mon'].apply(lambda x: datetime.datetime.strptime(x, "%m"))
#df['mon'] = df['mon'].apply(lambda x: x.strftime("%b"))

In [4]:
df['mon']

0          10
1          10
2          10
3          10
4          10
           ..
1581446    10
1581447    10
1581448    10
1581449    10
1581450    10
Name: mon, Length: 1581451, dtype: object

In [23]:
#df.to_csv('clean_yr_mon.csv')
#Exporting to cleaned year and month

In [5]:
df1 = df.rename(columns = {'OP_CARRIER':"carrier", "WEATHER_DELAY": "delay"})
df1 = df1.rename(columns = {"year":"Fruit", "carrier":"Year", "delay":"Sales", "mon":"Month"})
df1 = df1[["Fruit", "Year", 'Sales', "Month"]]

In [6]:
df1

        Fruit Year  Sales Month
0        2012   AA    0.0    10
1        2012   VX   15.0    10
2        2012   DL    0.0    10
3        2012   DL    0.0    10
4        2012   DL    0.0    10
...       ...  ...    ...   ...
1581446  2017   AA    0.0    10
1581447  2017   AA    0.0    10
1581448  2017   VX    0.0    10
1581449  2017   VX    0.0    10
1581450  2017   UA    0.0    10

[1581451 rows x 4 columns]

In [26]:
#df1.to_csv('Example6.csv')

In [7]:
df1['Sales'] = df1['Sales'].apply(int)
df1 = df1.rename(columns = {"Fruit":"Year", "Year":"Fruit"})
df0 = df1[df1["Sales"]>0]

In [28]:
#df1.to_csv('Example6.csv')
#df = pd.read_csv("Example5.csv")

In [29]:
df0

         Year Fruit  Sales Month
1        2012    VX     15    10
17       2012    DL      9    10
39       2012    DL     41    10
48       2012    DL     12    10
52       2012    DL      8    10
...       ...   ...    ...   ...
1580833  2017    WN    141    10
1581155  2017    VX     16    10
1581163  2017    UA      6    10
1581366  2017    UA     16    10
1581443  2017    UA    499    10

[85906 rows x 4 columns]

In [8]:
dfx = df0.groupby(["Year", "Month", "Fruit"]).sum().unstack(fill_value=0).stack().reset_index()

In [9]:
dfx = dfx.sort_values(by = ["Year", "Fruit", "Month"], ascending = [False, False, True])

In [10]:
dfx = dfx.reset_index(drop = True)
dfx

     Year Month Fruit  Sales
0    2017    01    YV      0
1    2017    02    YV      0
2    2017    03    YV      0
3    2017    04    YV      0
4    2017    05    YV      0
..    ...   ...   ...    ...
971  2012    11    AA   1747
972  2012    12    AA   2036
973  2012    10    9E      0
974  2012    11    9E      0
975  2012    12    9E      0

[976 rows x 4 columns]

In [11]:
import datetime
dfx['Month'] = dfx['Month'].apply(lambda x: datetime.datetime.strptime(x, "%m"))

dfx['Month'] = dfx['Month'].apply(lambda x: x.strftime("%b"))
dfx

     Year Month Fruit  Sales
0    2017   Jan    YV      0
1    2017   Feb    YV      0
2    2017   Mar    YV      0
3    2017   Apr    YV      0
4    2017   May    YV      0
..    ...   ...   ...    ...
971  2012   Nov    AA   1747
972  2012   Dec    AA   2036
973  2012   Oct    9E      0
974  2012   Nov    9E      0
975  2012   Dec    9E      0

[976 rows x 4 columns]

In [12]:
dfx = dfx.rename(columns = {"Fruit":"Year", "Year":"Fruit"})

In [13]:
dfx

    Fruit Month Year  Sales
0    2017   Jan   YV      0
1    2017   Feb   YV      0
2    2017   Mar   YV      0
3    2017   Apr   YV      0
4    2017   May   YV      0
..    ...   ...  ...    ...
971  2012   Nov   AA   1747
972  2012   Dec   AA   2036
973  2012   Oct   9E      0
974  2012   Nov   9E      0
975  2012   Dec   9E      0

[976 rows x 4 columns]

In [14]:
#dfx.to_csv("Example7.csv")

In [50]:
df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,...,DEPTemp,DEPWD,DEPWS,ARRHum,ARRPres,ARRTemp,ARRWD,ARRWS,year,mon
0,2012-10-01,AA,20,SFO,JFK,2012-10-01 15:00:00,1457.0,-3.0,2012-10-02 00:00:00,2351.0,...,289.460618,141.0,2.0,55.0,1012.0,289.040311,264.0,6.0,2012,10
1,2012-10-01,VX,26,SFO,JFK,2012-10-01 15:00:00,1507.0,-3.0,2012-10-02 00:00:00,2355.0,...,289.460618,141.0,2.0,55.0,1012.0,289.040311,264.0,6.0,2012,10
2,2012-10-01,DL,2352,SFO,MSP,2012-10-01 15:00:00,1455.0,-5.0,2012-10-01 21:00:00,2051.0,...,289.460618,141.0,2.0,63.0,1012.0,287.297992,326.0,3.0,2012,10
3,2012-10-01,DL,1668,LAX,MSP,2012-10-01 15:00:00,1502.0,-3.0,2012-10-01 21:00:00,2055.0,...,291.862844,0.0,0.0,63.0,1012.0,287.297992,326.0,3.0,2012,10
4,2012-10-01,DL,888,ATL,MSP,2012-10-01 19:00:00,2025.0,70.0,2012-10-01 21:00:00,2135.0,...,294.107145,114.0,3.0,63.0,1012.0,287.297992,326.0,3.0,2012,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581446,2017-10-27,AA,1755,PIT,PHL,2017-10-27 18:00:00,1759.0,-7.0,2017-10-27 20:00:00,1953.0,...,292.840000,190.0,6.0,39.0,1018.0,290.600000,170.0,4.0,2017,10
1581447,2017-10-27,AA,942,JFK,MIA,2017-10-27 11:00:00,1131.0,26.0,2017-10-27 14:00:00,1428.0,...,278.130000,290.0,2.0,64.0,1016.0,294.830000,360.0,2.0,2017,10
1581448,2017-10-27,VX,1352,SAN,SFO,2017-10-27 07:00:00,751.0,51.0,2017-10-27 09:00:00,930.0,...,289.870000,200.0,2.0,93.0,1013.0,288.100000,320.0,3.0,2017,10
1581449,2017-10-27,VX,1420,LAX,JFK,2017-10-27 23:00:00,2337.0,12.0,2017-10-27 08:00:00,806.0,...,301.760000,0.0,2.0,66.0,1017.0,279.210000,0.0,1.0,2017,10
1581450,2017-10-27,UA,1082,IAH,SAT,2017-10-27 09:00:00,942.0,29.0,2017-10-27 10:00:00,1053.0,...,290.920000,180.0,4.0,77.0,1011.0,289.660000,343.0,2.0,2017,10

In [15]:
df3 = df.groupby(["year", "mon", "OP_CARRIER"]).agg({'FL_DATE': "count", 'WEATHER_DELAY': 'sum'}).unstack(fill_value=0).stack().reset_index()
df3 = df3.rename(columns = {'FL_DATE':"Count", "OP_CARRIER":"Carrier", "year":"Year", "mon":"Month"})

In [16]:
df3['Avg'] = df3.WEATHER_DELAY.div(df3.Count)

In [17]:
df3 = df3.fillna(0)

In [18]:
#df3.to_csv('Avg.csv')

In [19]:
df3

     Year Month Carrier  Count  WEATHER_DELAY       Avg
0    2012    10      9E      0            0.0  0.000000
1    2012    10      AA   2495         2526.0  1.012425
2    2012    10      AS    422          149.0  0.353081
3    2012    10      B6    459          237.0  0.516340
4    2012    10      DL   2553         2737.0  1.072072
..    ...   ...     ...    ...            ...       ...
971  2017    10      UA   2685         6568.0  2.446182
972  2017    10      US      0            0.0  0.000000
973  2017    10      VX    981          942.0  0.960245
974  2017    10      WN   3729         1058.0  0.283722
975  2017    10      YV      0            0.0  0.000000

[976 rows x 6 columns]

In [20]:
print(df[df["WEATHER_DELAY"]>=60]["DEPWD"].mean())
print(df[df["WEATHER_DELAY"]>=60]["ARRWD"].mean())
print((df[df["WEATHER_DELAY"]>=60]["DEPWD"].mean()+df[df["WEATHER_DELAY"]>=60]["ARRWD"].mean())/2)

178.8615437080823
178.05359781743778
178.45757076276004

In [82]:
print(df[df["WEATHER_DELAY"]<=0]["DEPWD"].mean())
print(df[df["WEATHER_DELAY"]<=0]["ARRWD"].mean())
print((df[df["WEATHER_DELAY"]<=0]["DEPWD"].mean()+df[df["WEATHER_DELAY"]>=60]["ARRWD"].mean())/2)

177.42141259540836
178.15116195099446
177.73750520642307

In [80]:
print(df[df["WEATHER_DELAY"]>=30]["DEPWD"].mean())
print(df[df["WEATHER_DELAY"]>=30]["ARRWD"].mean())
print((df[df["WEATHER_DELAY"]>=30]["DEPWD"].mean()+df[df["WEATHER_DELAY"]>=60]["ARRWD"].mean())/2)

178.8246561886051
178.02646480989253
178.43912700302144

In [81]:
print(df[df["WEATHER_DELAY"]>=0]["DEPWD"].mean())
print(df[df["WEATHER_DELAY"]>=0]["ARRWD"].mean())
print((df[df["WEATHER_DELAY"]>=0]["DEPWD"].mean()+df[df["WEATHER_DELAY"]>=60]["ARRWD"].mean())/2)

177.43669927174474
178.2325076780754
177.74514854459125

In [21]:
DFXXX = df[["WEATHER_DELAY",'DEPHum','DEPPres','DEPTemp','DEPWD','DEPWS','ARRHum','ARRPres','ARRTemp','ARRWD','ARRWS','mon']]

In [22]:
DFXXX = DFXXX[DFXXX["WEATHER_DELAY"]>=0]
DFXXX["mon"] = DFXXX["mon"].apply(int)
DFXXX.corr()

,WEATHER_DELAY,DEPHum,DEPPres,DEPTemp,DEPWD,DEPWS,ARRHum,ARRPres,ARRTemp,ARRWD,ARRWS,mon
WEATHER_DELAY,1.000000,0.024941,-0.005565,-0.014907,-0.000459,0.025286,0.007990,0.000192,-0.008266,-0.000146,0.009871,-0.021727
DEPHum,0.024941,1.000000,0.100441,-0.288298,-0.030534,-0.054627,0.214627,0.050595,-0.122320,-0.021441,-0.059859,0.052906
DEPPres,-0.005565,0.100441,1.000000,-0.170824,-0.034854,-0.033121,0.047599,0.306111,-0.137472,-0.012714,-0.002518,-0.030616
DEPTemp,-0.014907,-0.288298,-0.170824,1.000000,-0.053616,-0.052024,-0.140852,-0.145678,0.630683,0.014918,-0.030087,0.173810
DEPWD,-0.000459,-0.030534,-0.034854,-0.053616,1.000000,0.196398,0.006928,-0.012769,-0.012267,0.056802,0.001702,-0.001179
DEPWS,0.025286,-0.054627,-0.033121,-0.052024,0.196398,1.000000,-0.057173,-0.008121,-0.048405,0.014993,0.167420,-0.076367
ARRHum,0.007990,0.214627,0.047599,-0.140852,0.006928,-0.057173,1.000000,0.107448,-0.321369,-0.038742,-0.045577,0.038577
ARRPres,0.000192,0.050595,0.306111,-0.145678,-0.012769,-0.008121,0.107448,1.000000,-0.182589,-0.033617,-0.038080,-0.033157
ARRTemp,-0.008266,-0.122320,-0.137472,0.630683,-0.012267,-0.048405,-0.321369,-0.182589,1.000000,-0.041705,-0.050559,0.174081
ARRWD,-0.000146,-0.021441,-0.012714,0.014918,0.056802,0.014993,-0.038742,-0.033617,-0.041705,1.000000,0.187044,-0.002115
ARRWS,0.009871,-0.059859,-0.002518,-0.030087,0.001702,0.167420,-0.045577,-0.038080,-0.050559,0.187044,1.000000,-0.080504
mon,-0.021727,0.052906,-0.030616,0.173810,-0.001179,-0.076367,0.038577,-0.033157,0.174081,-0.002115,-0.080504,1.000000

In [24]:
peak = {12, 1, 2, 6, 7, 8}

In [30]:
DFXXX["Peak"] = (DFXXX["mon"] ==12) |(DFXXX["mon"] ==1) |(DFXXX["mon"] ==2)|(DFXXX["mon"] ==6)| (DFXXX["mon"] ==7) |(DFXXX["mon"] ==8)
DFXXX["Peak"] = DFXXX["Peak"].apply(int)

In [39]:
DFXXX["Delayed"] = DFXXX["WEATHER_DELAY"] >0
DFXXX["Delayed"] = DFXXX["Delayed"].apply(int)
DFXXX["Delayed"]

0          0
1          1
2          0
3          0
4          0
          ..
1581446    0
1581447    0
1581448    0
1581449    0
1581450    0
Name: Delayed, Length: 1581451, dtype: int64

In [51]:
from sklearn.model_selection import train_test_split
X = DFXXX[["DEPHum","DEPPres","DEPTemp", "DEPWS", "ARRHum", "ARRTemp", "ARRWS", "Peak"]]
y = DFXXX['Delayed']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [52]:
from sklearn.tree import DecisionTreeRegressor

In [53]:
dtree = DecisionTreeRegressor()
dtree.fit(X_train,y_train)
predictions = dtree.predict(X_test)

In [54]:
dtree.score(X_test, y_test)

-0.8126379745058054

In [59]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
rtree = RandomForestClassifier()
rtree.fit(X_train,y_train)
predictions = rtree.predict(X_test)

KeyboardInterrupt:

In [ ]:
rtree.score(X_test, y_test)

In [60]:
DFXXX.corr()

,WEATHER_DELAY,DEPHum,DEPPres,DEPTemp,DEPWD,DEPWS,ARRHum,ARRPres,ARRTemp,ARRWD,ARRWS,mon,Peak,Delayed
WEATHER_DELAY,1.000000,0.024941,-0.005565,-0.014907,-0.000459,0.025286,0.007990,0.000192,-0.008266,-0.000146,0.009871,-0.021727,0.024817,0.533586
DEPHum,0.024941,1.000000,0.100441,-0.288298,-0.030534,-0.054627,0.214627,0.050595,-0.122320,-0.021441,-0.059859,0.052906,0.035892,0.054966
DEPPres,-0.005565,0.100441,1.000000,-0.170824,-0.034854,-0.033121,0.047599,0.306111,-0.137472,-0.012714,-0.002518,-0.030616,-0.015943,-0.006510
DEPTemp,-0.014907,-0.288298,-0.170824,1.000000,-0.053616,-0.052024,-0.140852,-0.145678,0.630683,0.014918,-0.030087,0.173810,0.036772,-0.037053
DEPWD,-0.000459,-0.030534,-0.034854,-0.053616,1.000000,0.196398,0.006928,-0.012769,-0.012267,0.056802,0.001702,-0.001179,0.043905,0.000616
DEPWS,0.025286,-0.054627,-0.033121,-0.052024,0.196398,1.000000,-0.057173,-0.008121,-0.048405,0.014993,0.167420,-0.076367,-0.088482,0.043813
ARRHum,0.007990,0.214627,0.047599,-0.140852,0.006928,-0.057173,1.000000,0.107448,-0.321369,-0.038742,-0.045577,0.038577,0.037751,0.013037
ARRPres,0.000192,0.050595,0.306111,-0.145678,-0.012769,-0.008121,0.107448,1.000000,-0.182589,-0.033617,-0.038080,-0.033157,-0.016925,0.003516
ARRTemp,-0.008266,-0.122320,-0.137472,0.630683,-0.012267,-0.048405,-0.321369,-0.182589,1.000000,-0.041705,-0.050559,0.174081,0.040967,-0.017303
ARRWD,-0.000146,-0.021441,-0.012714,0.014918,0.056802,0.014993,-0.038742,-0.033617,-0.041705,1.000000,0.187044,-0.002115,0.039637,0.003316
ARRWS,0.009871,-0.059859,-0.002518,-0.030087,0.001702,0.167420,-0.045577,-0.038080,-0.050559,0.187044,1.000000,-0.080504,-0.098258,0.008761
mon,-0.021727,0.052906,-0.030616,0.173810,-0.001179,-0.076367,0.038577,-0.033157,0.174081,-0.002115,-0.080504,1.000000,-0.058839,-0.031439
Peak,0.024817,0.035892,-0.015943,0.036772,0.043905,-0.088482,0.037751,-0.016925,0.040967,0.039637,-0.098258,-0.058839,1.000000,0.043050
Delayed,0.533586,0.054966,-0.006510,-0.037053,0.000616,0.043813,0.013037,0.003516,-0.017303,0.003316,0.008761,-0.031439,0.043050,1.000000

In [80]:
df4 = df[["ORIGIN",'DEPHum','DEPPres','DEPTemp','DEPWD','DEPWS','mon', "year"]]

In [96]:
df4m = pd.melt(df4, id_vars=["ORIGIN", "mon", "year"], value_vars=['DEPHum','DEPPres','DEPTemp','DEPWD','DEPWS'])
df4m["Drop"] = df4m["ORIGIN"]+"-"+df4m["variable"].apply(lambda x: x[3:])
df4m

        ORIGIN mon  year variable  value     Drop
0          SFO  10  2012   DEPHum   86.0  SFO-Hum
1          SFO  10  2012   DEPHum   86.0  SFO-Hum
2          SFO  10  2012   DEPHum   86.0  SFO-Hum
3          LAX  10  2012   DEPHum   88.0  LAX-Hum
4          ATL  10  2012   DEPHum   94.0  ATL-Hum
...        ...  ..   ...      ...    ...      ...
7907250    PIT  10  2017    DEPWS    6.0   PIT-WS
7907251    JFK  10  2017    DEPWS    2.0   JFK-WS
7907252    SAN  10  2017    DEPWS    2.0   SAN-WS
7907253    LAX  10  2017    DEPWS    2.0   LAX-WS
7907254    IAH  10  2017    DEPWS    4.0   IAH-WS

[7907255 rows x 6 columns]

In [97]:
df4m = df4m.groupby(["Drop", 'year', "mon"]).mean().reset_index()

In [98]:
df4m = df4m.rename(columns = {"Drop":"Fruit", "value":"Sales", "year":"Year", "mon":"Month"})
df4m

        Fruit  Year Month      Sales
0     ABQ-Hum  2012    10  30.892857
1     ABQ-Hum  2012    11  36.906475
2     ABQ-Hum  2012    12  48.466549
3     ABQ-Hum  2013    01  49.910526
4     ABQ-Hum  2013    02  47.300000
...       ...   ...   ...        ...
8535   STL-WS  2017    06   3.328173
8536   STL-WS  2017    07   2.954392
8537   STL-WS  2017    08   2.873214
8538   STL-WS  2017    09   3.198606
8539   STL-WS  2017    10   4.016722

[8540 rows x 4 columns]

In [99]:
df4m = df4m.sort_values(by = ["Fruit", "Year", "Month"], ascending = [False, False, True])

In [100]:

import datetime
df4m['Month'] = df4m['Month'].apply(lambda x: datetime.datetime.strptime(x, "%m"))

df4m['Month'] = df4m['Month'].apply(lambda x: x.strftime("%b"))
df4m

        Fruit  Year Month      Sales
8530   STL-WS  2017   Jan   3.702163
8531   STL-WS  2017   Feb   3.986395
8532   STL-WS  2017   Mar   4.178637
8533   STL-WS  2017   Apr   3.983364
8534   STL-WS  2017   May   3.670194
...       ...   ...   ...        ...
13    ABQ-Hum  2013   Nov  54.031250
14    ABQ-Hum  2013   Dec  55.523551
0     ABQ-Hum  2012   Oct  30.892857
1     ABQ-Hum  2012   Nov  36.906475
2     ABQ-Hum  2012   Dec  48.466549

[8540 rows x 4 columns]

In [101]:
df4m.to_csv('Examplex.csv')